footer.row
  .large-6.columns
    h6
      strong About Usability Philippines
    p
      | Usability Philippines is an organization of usability professionals that seeks to advocate the adoption of
      | usability standards in the design of products, systems and interfaces in the Philippines. The organization
      | aims to provide resources for enhancing user experience across platforms as well as collect and
      | disseminate knowledge on usability.
  .large-4.columns
  h6
    strong Our Vision
    p We envision Usability Philippines to be recognized by the government and industry as the primary resource for usability knowledge and practice.
    
  .large-2.columns
    ==erb(:fb, :layout => false)
