<nav class="top-bar">
<ul class="title-area">
  <!-- Title Area -->
  <li class="name">
    <h1 class="focus"><a href="#">Usability Philippines </a></h1>
  </li>
  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  <ul class="right">
    <li class="divider hide-for-small"></li>
    <li class="toggle-topbar menu-icon"> <a href="https://www.facebook.com/groups/252346031458195/">Join Us! </a>
    </li>
  </ul>
</ul>
<section class="top-bar-section">
<!-- Right Nav Section -->
<ul class="right">
  <li class="divider hide-for-small"></li>
  <li><a href="https://www.facebook.com/groups/252346031458195/"> Join us on Facebook!</a></li>
</ul>
</section>
</nav>
